# Managed by Ansible. Manual changes will be overwritten.
listen_addresses = '*'
port = {{ postgresql_port }}
password_encryption = 'scram-sha-256'
wal_level = 'replica'
max_wal_senders = 10
max_replication_slots = 10
wal_keep_size = '256MB'
hot_standby = on
shared_buffers = '128MB'
max_connections = 100
