APP_HOST=0.0.0.0
APP_PORT={{ application_port }}
APP_VERSION={{ application_version }}
DB_ENABLED={{ 1 if application_database_enabled else 0 }}
{% if application_database_enabled %}
DB_HOST={{ application_database_host }}
DB_PORT={{ postgresql_port }}
DB_NAME={{ postgresql_application_database }}
DB_USER={{ postgresql_application_user }}
DB_PASSWORD={{ postgresql_application_password }}
{% endif %}
